*{
    margin: 0;
    padding: 0;
}
/* Header And Banner Section */
.nav-cointainer{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding: 10px;


}
.menu-item{
    list-style: none;
    display: flex;
    gap: 10px;
    font: 15px;
    color: white;
    align-items: center;
}
.banner-content{
    background-image: url("./image/background.jpg"), linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    
}
.primary{
    color: red;
}
.banner-tittle{
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.description{
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.btn{
    padding: 12px;
    border: none;
}
.bg-color{
    background-color: red;
    color: white;
}
/* Service Section Style */
.service-container{
    background-image: url("./image/footer-bg.png"), linear-gradient(rgba(0,0,0,10),rgba(0,0,0,10));
    background-blend-mode: overlay;
    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display:flex;
    align-items: center;
    padding: 20px;
}

.service-description{
    width: 50%;
}
.author-profile{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.author-cointainer{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 15px;
  
}
.author-image{
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 2px solid red;
    padding-right: 20px;
  
}
.icon{
    width: 70px;
   
}
.box{
    width: 150px;
    height: 100px;
    padding: 50px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;

}
.first-two-boxes{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}
/* Appointment Section */
.phone-call{
    display: flex;
    align-items: center;
}
.appointment-container{
    display: flex;
    justify-content: space-around;
    width:60%;
    margin: auto;
    padding: 20px;
    background-color:rgba(228, 25, 25, 0.8);
    border-radius: 10px;
    margin-top:-30px;
    align-items: center;
    
}
.appointment-description{
    width: 80%;
    text-align: center;
    margin-left: 10px;
}
.free-method{
    margin-left: 5px;
}
.secondary-btn{
    margin-right: 10px;
}

/* This is card Section */
.blog-tittle{
    text-align: center;
    margin: 50px;
}
.blog-container{
    width: 80%;
    margin: auto;
    background-color: gray;
    padding: 10px;
}
.card-tittle{
    color: black;
    margin-top: -40px;
}
.card{
    width: 220px;
    height: 340px;
    box-shadow: 4px 8px 4px gray;
    border-radius: 5px;
    background-color: white;
}
.blog-img{
    width: 100%;
    border-radius: 5px;
}
.tittle-of-card{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    text-align: center;
}
.card-desc{
    line-height: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}